@page "/games/{GameId:guid}"

@using System.Net.Http.Json
@using MudBlazor
@using MattEland.Jaimes.ServiceDefinitions.Responses
@using Microsoft.AspNetCore.Components.Web

@rendermode InteractiveServer

<PageTitle>Game Details</PageTitle>

<MudContainer MaxWidth="MaxWidth.Large" Class="game-details-wrapper">
	<MudText Typo="Typo.h5" Class="mb-2">Game details</MudText>

	@if (isLoading)
	{
		<MudProgressCircular Indeterminate="true" Class="my-4" />
	}
	else if (!string.IsNullOrEmpty(errorMessage))
	{
		<MudAlert Severity="Severity.Error">@errorMessage</MudAlert>
	}
	else if (game is null)
	{
		<MudText>(No game loaded)</MudText>
	}
	else
	{
		<MudText Class="mb-1"><b>Game ID:</b> @game.GameId</MudText>
		<MudDivider Class="my-2" />

		<div class="chat-scroll">
			@foreach (var m in messages ?? [])
			{
				@if (m.Participant == ChatParticipant.Player)
				{
					<MudChat ChatPosition="ChatBubblePosition.End"
							 Variant="Variant.Filled"
							 Color="Color.Primary">
						<MudAvatar>@GetAvatarInitials(m.ParticipantName)</MudAvatar>
						<MudChatHeader Name="@m.ParticipantName" />
						<MudChatBubble>
							@m.Text
						</MudChatBubble>
					</MudChat>
				}
				else
				{
					<MudChat ChatPosition="ChatBubblePosition.Start"
							 Variant="Variant.Filled"
							 Color="Color.Default">
						<MudAvatar>@GetAvatarInitials(m.ParticipantName)</MudAvatar>
						<MudChatHeader Name="@m.ParticipantName" />
						<MudChatBubble>
							@m.Text
						</MudChatBubble>
					</MudChat>
				}
			}
		</div>

		<div class="message-bar">
			<MudGrid Class="align-items-center">
				<MudItem xs="10" sm="11">
					<MudTextField @bind-Value="userMessage.Text" Label="Message" Placeholder="Type a message..." FullWidth="true" Immediate="true" OnKeyDown="OnKeyDown" />
				</MudItem>
				<MudItem xs="2" sm="1" Class="d-flex justify-end">
					<MudButton Variant="Variant.Filled" Color="Color.Primary" OnClick="SendMessageAsync">Send</MudButton>
				</MudItem>
			</MudGrid>
		</div>
	}
</MudContainer>